name: Deploy Contracts to NuGet

on:
  push:
    branches:
      - main
      - develop
    paths-ignore:
      - 'lib/**'
  pull_request:
    types: [closed]
    branches:
      - main
      - develop

permissions:
  contents: write
  packages: write

jobs:
  deploy:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.merged == true)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0.9.7
        with:
          versionSpec: '5.x'
      
      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0.9.7
        with:
          useConfigFile: true
          configFilePath: GitVersion.yml
      
      - name: Restore dependencies
        run: dotnet restore lib/contracts/Ambystech.Neo4j.Repository.Contracts.csproj
        working-directory: lib
      
      - name: Build
        run: dotnet build lib/contracts/Ambystech.Neo4j.Repository.Contracts.csproj --configuration Release --no-restore
        working-directory: lib
      
      - name: Pack
        run: dotnet pack lib/contracts/Ambystech.Neo4j.Repository.Contracts.csproj --configuration Release --no-build --output ./artifacts -p:Version=${{ steps.gitversion.outputs.NuGetVersion }}
        working-directory: lib

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: nuget-package-contracts
          path: ./artifacts/*.nupkg
      
  publish-contracts:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: nuget-package-contracts
          path: ./artifacts

      - name: Publish to NuGet
        run: dotnet nuget push ./artifacts/*.nupkg --api-key ${{ secrets.NUGET_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

